body{
	background: #e8e8e8;
	margin:0px;
	font-family: 'Carme';
	font-size: 16px;
}
header{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1));
	background: -webkit-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1));
	background: -moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1));
	background: -o-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1));
	background: -ms-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1));
}
footer{
	width:100%;
	height: 184px;
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,1));
	background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,1));
    background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,1));
	background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,1));
	background: -ms-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,1));
	position:relative;
}
h1{
	margin:132px 0 0 63px;
	padding-top:30px;
	font-family: 'Carme', sans-serif;
	font-size: 2em;
}
h2{
	margin-top:15px;
	font-size:1.1em;
	margin-bottom:5px;
}
hr{
	color:white;
	background-color: white;
	height:1px;
	width:730px;
	margin: 0 0;
}
.nota{
	margin:0;
	font-size:.85em;
	color:rgb(238,31,37);
	font-weight: bold;
}
.right{
	float: right;
}
.clear{
	clear:both;
}
.cafe{
	color:rgb(106,190,69);
	text-decoration: underline;
}
.parrafo{
	margin-top: .5em;
	margin-bottom: 0;
	padding-bottom: 1em;
	font-size:.9em;
	text-align: justify;
}
.logo{
	margin-left:72px;
	padding-top:5px;
}
.FB{
	font-size:3em;
	float:right;
	margin: -64px 116px 0 0;
}
.icon-facebook3{
	text-decoration: none;
	color: rgba(59,89,152,.7);
}
.icon-facebook3:hover{
	text-decoration: none;
	color:#3b5998;
}
.GPlus{
	font-size:3em;
	float:right;
	margin: -64px 40px 0 0;
}
.icon-googleplus2{
	text-decoration: none;
	color:rgba(211,72,54,.7);
}
.icon-googleplus2:hover{
	text-decoration: none;
	color:#d34836;
}

.visita{
	float:right;
	margin-top: -88px;
	margin-right: 41px;
	color:gainsboro;
	font-size: 1.1em;
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	background: url(../imagenes/fondo.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

/* Menu */
.submnu:link {text-decoration:none; color:gray} /*unvisited link */
/*a:visited {text-decoration:none;color:white;}   visited link */
.submnu:hover {text-decoration:none;color:white;}  /* mouse over link */
/*a:active {text-decoration:none;color:white;}  selected link */

ul#menu {
	list-style-type:none;
	overflow:hidden;
	height:40px;
	width:100%;
	margin:auto;
	margin-left:120px;
}

ul#menu > li {
	float:left;
}

ul#menu > li > a {
	display:block;
	line-height:40px;
	color:white;
	text-decoration:none;
	padding:0 10px;
	font-size:15px;
	font-weight:100;
}

ul#menu > li > a:hover {
	opacity:0.7;
}

.li_submenu{ 
	display:block;
}
.ul_submenu{ width:104px;
	height:0px;
	overflow:hidden;
	position:absolute;
	z-index:998;
	list-style-type:none;
	background-color:black;
	padding-left:20px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-left:-10px;
}

.ul_submenu li {
	margin-top:10px;
	display:none;
}

.li_submenu:hover .ul_submenu {
	z-index:998;
	height:128px;
}

.li_submenu:hover .ul_submenu li {
	display:block;
}

.transicion {
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}

.cursiva {
	font-style:italic;
}
.hover:hover {
	opacity:0.7;
}
/* Menu */
.mensajes{
	width:100%;
}
.contprin{
	width:1000px;
	margin: 0 auto;
	background: rgba(0,0,0,.7);
	color:white;
}
.continfo{
	width:730px;
	margin-left: 70px;
}
.slogan{
	text-align: right;
	margin: 0 13px 0 0;
	padding-top:46px; 
}
.wrap{
	width:1000px;
	padding-top: 7px;
	margin:0 auto;
}
.info2{
	height: 40px;
	color:white;
	padding: 68px;
	font-size: .9em;
	color:white;
	text-align: center;
}
